.active{
				color: #000000;
				font-size: 50px;
}
.ok{
				color: #000000;
				font-size: 27px;
}
.cute{
				color: #000000;
				font-size: 50px;
}
.a{
		 font-size: 40px; 
}
.c{
    color: Yellow;
    font-size: 30px;
}
.y{
  				width: 100%;
 }
.p{
				color: #000000;
				font-size: 35px;
}
