body {
				font-family: Arial; 
				backgroud: #000000;
				color: black; 
						
}
.welcome{
				color: #000000;
				font-size: 40px;
}
.head{
				color: #ffffff;
}
.about{
				color: #ffffff; 
				font-size: 15px; 
}
.cool{
				color: #ffffff;
				font-size: 27px; 
}
.type{
				color: #ffffff;
}
.top{
				color: #000000;
				font-size: 15px; 
}
 .top span{
 				color: red; 
 				font-size: 20px; 
 }
  .info{
  				border:2px solid red; 
  			padding: 20px; 			
  }
  b{color: red;}
  img{
  				width: 100%;
  }
  .t{
  				color: black; 
  				font-size: 17px; 
  }
.active{
				color: #000000;
				font-size: 50px;
	}
